@{
    Layout = null;
}
@using Entities.Models;

@model List<AllCode>

<div class="list-chinh-sach grid grid__3 mb20">
    <div class="item new_pricepolicy" data-mode="0" data-servicetype="1">
        <i class="iconfont-hotel"></i>
        <p>Khách sạn</p>
    </div>
    <div class="item new_pricepolicy" data-mode="0" data-servicetype="3">
        <i class=" iconfont-plane"></i>
        <p>Vé máy bay</p>
    </div>
    <div class="item new_pricepolicy" data-mode="0" data-servicetype="6">
        <i class="service_addnew_icon iconfont-map"></i>
        <p>VinWonder</p>
    </div>
</div>
