@using Entities.Models
@{
    Layout = null;
    var LabelList = (List<Label>)ViewBag.LabelList;
}

<style>
    .user-hierarchy-tag ul .lever2 {
        padding-left: 15px;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
<form id="form_lockproductform">
    <div class="form-default">
        <div class="col-12">
            <div class="form-group">
                <label class="lbl">
                    Danh sách ASIN
                    <sup class="red">*</sup>
                </label>
                <div class="wrap_input">
                    <textarea type="text" class="form-control" placeholder="Nhập danh sách mã sản phẩm vào khung này, phân cách nhau bởi dấu phẩy" id="cr_asinlist" style="height:100px;"></textarea>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label class="lbl">
                    Nhãn hàng
                    <sup class="red">*</sup>
                </label>
                <div class="wrap_input">
                    <div class="wrap_input">
                        <select id="cr_label" class="form-control">
                            @foreach (var item in LabelList)
                            {
                                <option value="@item.Id">@item.StoreName</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label class="lbl">
                    Group ID
                </label>
                <div class="wrap_input">
                    <input type="number" class="form-control"  id="cr_groupid" value="344">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group align-right mt20 block">
                <button type="button" class="btn btn-default bg-main" onclick="productManager.CrawlOffline();"><i class="iconfont-crawl"></i>Crawl</button>
                <button type="button" class="btn btn-default cancel" onclick="$.magnificPopup.close();"><i class="fa fa-minus-circle"></i>Bỏ qua</button>
            </div>
        </div>
    </div>
</form>