<div class="bottom-action flex flex-nowrap gap10 justify-content-end mt-3">
    <button class="btn btn-default white" style="padding: 0 10px;">
        <i class="icofont-gear"></i>
        <span>Tùy chỉnh</span>
    </button>
    <div class="select-number">
        <select class="form-control" id="selectPaggingOptions" onchange="_comment.OnchangeConditions()" style="width:180px">
            <option value="10">10 kết quả/trang</option>
            <option value="20">20 kết quả/trang</option>
            <option value="30">30 kết quả/trang</option>
            <option value="50">50 kết quả/trang</option>
            <option value="100">100 kết quả/trang</option>
            <option value="200">200 kết quả/trang</option>
        </select>
    </div>
</div>
