<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<appSettings>
		<add key ="token_encode_key" value ="wVALy5t0tXEgId5yMDNg06OwqpElC9I0sxTtri4JAlXluGipo6kKhv2LoeGQnfnyQlC07veTxb7zVqDVKwLXzS7Ngjh1V3SxWz69" />
		<add key ="img_root_folder_path" value ="C:\Users\Mirrors\Desktop\images" />
		<add key ="img_url_base" value ="/uploads/images" />
		<add key ="payment_img_url_base" value ="/uploads/PaymentScreenShot" />
		<add key ="max_file_size_in_byte" value ="3145728" />
	</appSettings>
</configuration>