
@using Entities.ViewModels.HotelBooking
<form id="UserAgent_Detail" onsubmit="return false">
        <input id="id"value="@ViewBag.id"  style="display:none"/>
        <input id="type"value="@ViewBag.type "  style="display:none"/>
        <div class="row">
            <div class="col-md-4 mb10"><label class="lbl mt5 mb0">Nhân viên hiện tại </label></div>
            <div class="col-md-8 mb10">
                <input type="text" class="form-control" value="@ViewBag.Name" disabled>
            </div>
            <div class="col-md-4 mb10"><label id="sothue_cmnd" class="lbl mt5 mb0">Nhân viên mới </label><sup class="red">*</sup></div>
            <div class="col-md-8 mb10">
                <div class="wrap_input">
                    <select class="select2 client-select" id="UserId_new" name="UserId_new" multiple="multiple" style="width:100% !important">
                    </select>
                </div>
                <label id="UserId_new-error" class="error" for="UserId_new"></label>
            </div>

        </div>
        <div class="text-center">
            <button onclick="$.magnificPopup.close();" class="btn btn-default btn btn-default cancel">Bỏ qua</button>
            <button onclick="_SetService_Detail.OnUpdataUserHotel()" class="btn btn-default">Lưu</button>
        </div>

</form>

<script>

    $("#UserId_new").select2({
        placeholder: "Tên nhân viên",
        maximumSelectionLength: 1,
        ajax: {
            url: "/Order/UserSuggestion",
            type: "post",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                var query = {
                    txt_search: params.term,
                }

                // Query parameters will be ?search=[term]&type=public
                return query;
            },
            processResults: function (response) {
                return {
                    results: $.map(response.data, function (item) {
                        return {
                            text: item.fullname + ' - ' + item.email,
                            id: item.id,
                        }
                    })
                };
            },
            cache: true
        }
    });
</script>
