@{
    ViewData["Title"] = "Danh sách hóa đơn";
}
@using Entities.Models
@using Utilities
@using Utilities.Contants
@{
}

<section style=" overflow-x: hidden;">
    <div class="main-container">
        <div class="row-main container">
            <h2 class="txt_18 bold mb20">Danh sách hóa đơn</h2>
            <div class="flex fillter-donhang">
                <button type="button" class="btn btn-default bg-main mb10 mr-2" onclick="_invoice_service.Add()" style=" background: #5cb566; width: 140px;">
                    <i class="fa fa-plus-circle"></i>
                    Thêm hóa đơn
                </button>
                <div class="form-group mb10 mr-2">
                    <input type="text" class="form-control" id="billNo" placeholder="Mã phiếu" style=" width: 200px;">
                </div>
                <div class="form-group mb10 mr-2">
                    <input type="text" class="form-control" id="invoiceNo" placeholder="Số hóa đơn" style=" width: 200px;">
                </div>
                <div class="form-group mb10 mr-2">
                    <input type="text" class="form-control" id="orderNo" placeholder="Mã đơn hàng" style=" width: 200px;">
                </div>
                <div class="form-group mb10 mr-2">
                    <div class="datepicker-wrap" style="width:100%">
                        <input class="form-control date text-left filter_date_daterangepicker" id="filter_export_date" type="text"
                               name="datetimePayment" style=" min-width: 200px !important" placeholder="Ngày xuất" />
                    </div>
                </div>
                <div class="form-group mb10 mr-2" style="min-width: 300px;">
                    <select class="select2" id="token-input-client" style="width:100% !important" multiple="multiple">
                    </select>
                </div>
                <div class="form-group mb10 mr-2">
                    <input type="text" class="form-control" id="content" placeholder="Yêu cầu xuất liên quan" style=" width: 200px;">
                </div>
                <div class="form-group mb10 mr-2">
                    <div class="datepicker-wrap" style="width:100%">
                        <input class="form-control date text-left filter_date_daterangepicker" id="filter_date_create_daterangepicker" type="text"
                               name="datetimeCreate" style=" min-width: 200px !important" placeholder="Ngày tạo" />
                    </div>
                </div>
                <div class="form-group mb10 mr-2" style="min-width: 200px;">
                    <select class="select2 client-select main-staff-select" id="createdBy" multiple="multiple" style="width:100% !important">
                    </select>
                </div>
                <div class="mb10 mr-2">
                    <button class="btn-search btn-default" type="button" onclick="_invoice_service.Export()" id="btnExport">
                        <i class="fa fa-file-excel-o" id="icon-export"></i>
                    </button>
                    <button type="button" class="btn btn-default bg-main" onclick="_invoice_service.ActionSearch(1)">
                        <svg class="icon-svg" style="vertical-align: sub;">
                            <use xlink:href="/images/icons/icon.svg#search"></use>
                        </svg>
                        Tìm kiếm
                    </button>
                </div>
            </div>
            <div class="line-bottom mb20">
                <div class="flex row-main-head">

                    <div class="btn-right text-right ">

                        <div class="row-main-head mb10 mr-2" style="display: none;">
                            <div class="down-up">
                                <a class="btn btn-default onclick" href="javascript:;">
                                    <i class="fa fa-bars"></i>
                                    <i class="fa fa-caret-down"></i>
                                </a>
                                <div class="form-down text-nowrap">
                                    <div class="grid-slide">
                                        <label class="check-list mb10 mr25">
                                            <input type="checkbox" id="STT" onclick="_invoice_service.ChangeSetting(1)" class="checkbox-tb-column" data-id="1">
                                            <span class="checkmark"></span>
                                            STT
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="grid_data_invoice" class="wrap_bg wrap_bg_no-padding mb20">
                <div class="col-xl-12 text-center" style="margin-top:200px">
                    <img src="~/images/icons/loading.gif" style=" width: 100px; height: 100px; display:none;"
                         id="imgLoading" />
                </div>
            </div>

        </div>
    </div>
</section>

@section scripts {
    <script type="text/javascript" src="~/modules/invoice.js"></script>
    <script type="text/javascript" src="~/js/zebra_datepicker.min.js"></script>
    <script>

        $('input[name="datetimeCreate"]').daterangepicker({
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear'
            }
        });
        $('input[name="datetimeCreate"]').on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
            isPickerCreatedInvoiceRequest = false;
        });
        $('input[name="datetimeCreate"]').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
            isPickerCreatedInvoiceRequest = true;
        });
        $('input[name="datetimePayment"]').daterangepicker({
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear'
            }
        });
        $('input[name="datetimePayment"]').on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
            isPickerPayment = false;
        });
        $('input[name="datetimePayment"]').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
            isPickerPayment = true;
        });
        $('input[name="datetimeApprove"]').daterangepicker({
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear'
            }
        });
        $('input[name="datetimeApprove"]').on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
            isPickerApproved = false;
        });
        $('input[name="datetimeApprove"]').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
            isPickerApproved = true;
        });
    </script>
}
<style scoped>

    .multiple-select {
        position: relative;
        max-width: 200px !important;
        width: 100%;
    }

    .select2-selection .select2-selection--single {
        height: 34px !important;
    }

    .token-input-input-token {
        min-width: 200px !important;
    }

        .token-input-input-token input {
            background: #fff !important;
            width: 100% !important;
            font-size: 13px !important;
            height: 30px !important;
            line-height: 30px !important;
            border: 1px solid #ccc !important;
            padding: 0 5px !important;
            outline: 0 !important;
            box-shadow: none !important;
            color: #000 !important;
            border-radius: 0.25rem !important;
        }

    .row-main-head .down-up .form-down {
        width: 345px !important;
    }

    .form-control {
        background: #fff;
        width: 100%;
        font-size: 13px;
        height: 30px;
        line-height: 30px;
        border: 1px solid #ccc;
        padding: 0 5px;
        outline: 0;
        box-shadow: none;
        color: #000;
        border-radius: 0.25rem !important;
    }
</style>
