@using Entities.ViewModels.Funding
@using Entities.Models
@model DepositFunding
@{

}
<div class="white-popup" style="max-width: 400px;">
    <div class="content_lightbox">
        @*<div class="head line-bottom">
            Từ chối duyệt yêu cầu
        </div>*@
        <div class="form-group border">
            <textarea class="form-control" style="height: 150px;" placeholder="Nhập lý do từ chôi" id="note" maxlength="300"></textarea>
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-default red ml-1" onclick="_deposit_hisoty_service.RejectDeposit();">Xác nhận</button>
        </div>

    </div>
    @*<button title="Close (Esc)" type="button" class="mfp-close" onclick="$.magnificPopup.close();">×</button>*@
</div>
