<div class="white-popup" style="max-width: 400px;">
    <div class="content_lightbox">
        <div class="form-group border">
            <textarea class="form-control" style="height: 150px;" placeholder="Nhập lý do từ chôi" id="noteReject" maxlength="300"></textarea>
            <div class="validate-note-reject"></div>
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-default red ml-1" onclick="_invoice_request_service.RejectRequest();">Xác nhận</button>
        </div>

    </div>
</div>
