@*<div class=" icon" id="img_crawl_increase"><img width="25" src="images/icons/up.png"></div>
<div class=" icon" id="img_crawl_deincrease"><img width="25" src="images/icons/down.png"></div>*@
<div class="content">
    <div class="txt_12 gray">
        <span id="totalProductNotFound">Tổng sản phẩm Crawl</span>
    </div>
    <div class="txt_22 red flex align-center">
        <div class="txt_22 color-main flex align-center" id="crawl_percent_increase">
            <img src="~/images/icons/loading.gif" style=" width: 20px; height: 20px;" />
        </div>
        <div class="animate-flicker txt_14" style="margin-left:10px" id="warning_crawlpercent">
            <strong>Warning !!!</strong>
        </div>
    </div>
    <div class="txt_12 gray">Sản phẩm trong ngày</div>
</div>
