

<div class="cur-pointer icon">
    <a title="Khách hàng" onclick="menu.ViewCustomer()">
        <img width="30" src="images/icons/user-new.png">
    </a>
</div>
<div class="content">
    <div class="txt_12 gray" onclick="menu.ViewReturningCustomer();">
        <span class="cur-pointer" id="total_returning_client"></span>
    </div>
    <div class="cur-pointer" onclick="menu.ViewCustomer()">
        <div class="txt_22 color-main2" id="customerInDay">
            <img src="~/images/icons/loading.gif" style=" width: 20px; height: 20px;" />
        </div>
    </div>
    <div class="txt_12 gray" onclick="menu.ViewPaymentCustomer();">
        <span class="cur-pointer" id="total_payment_client"></span>
    </div>
</div>
