<div class="content">
    <div class="txt_12 gray">
        <span>Đơn hàng lỗi</span>
    </div>
    <div class="txt_22 red flex align-center" onclick="menu.ViewErrorOrder()">
        <div class="txt_22 color-main flex align-center" style="margin-right:10px">
            <a class="cur-pointer" id="total_error_order">
                <img src="~/images/icons/loading.gif" style=" width: 20px; height: 20px;" />
            </a>
        </div>
        <div class="animate-flicker txt_14">
            <strong>Warning !!!</strong>
        </div>
    </div>
</div>
