<div class="icon" onclick="menu.ViewOrder()" style="cursor:pointer">
    <img width="25" src="images/icons/dollar.png">
</div>
<div class="content" onclick="menu.ViewOrder(@((int)Utilities.Contants.OrderConstants.Payment_Status.DA_THANH_TOAN))" style="cursor:pointer">
    <div class="txt_12 gray">
        <span id="totalOrder"></span>
    </div>
    <div class="color-main txt_22" id="totalMoney">
        <img src="~/images/icons/loading.gif" style=" width: 20px; height: 20px;" />
    </div>
    <div class="txt_12 gray">Doanh thu thuần</div>
</div>
