<div class="icon" onclick="menu.ViewOrderTemp()" style="cursor:pointer">
    <img width="25" src="images/icons/dollar.png"></div>
<div class="content" onclick="menu.ViewOrderTemp(@((int)Utilities.Contants.OrderConstants.Payment_Status.CHUA_THANH_TOAN))" style="cursor:pointer">
    <div class="txt_12 gray">
        <span id="totalOrderTemp"></span>
    </div>
    <div class="color-main txt_22 red" id="totalMoneyTemp">
        <img src="~/images/icons/loading.gif" style=" width: 20px; height: 20px;" />
    </div>
    <div class="txt_12 gray">Tổng tiền đơn</div>
</div>
