<div class=" icon" id="img_increase"><img width="25" src="images/icons/up.png"></div>
<div class=" icon" id="img_deincrease"><img width="25" src="images/icons/down.png"></div>

<div class="content">
    <div class="txt_12 gray">
        Doanh thu thuần
    </div>
    <div class="txt_22 color-main flex align-center" id="revenuday_increase">
        <img src="~/images/icons/loading.gif" style=" width: 20px; height: 20px;" />
    </div>
    <div class="txt_22 red flex align-center" id="revenuday_deincrease">
        <img src="~/images/icons/loading.gif" style=" width: 20px; height: 20px;" />
    </div>
    <div class="txt_12 gray">So với hôm qua</div>
</div>