@{
    Layout = null;
}

<div class="content_lightbox">
    <div class="flex mb20">
        <div>A. Cường</div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div>Số lần truy cập trang: <strong class="red">10</strong></div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div>Lần truy cập gần nhất: <strong></strong> vào lúc: <strong>23h 35'</strong></div>
    </div>
    <div class="line_bottom mb20 txt_666">Dòng thời gian</div>
    <div class="flex timeline">
        <ul class="list-notifi">
            <li>
                <i class="fa fa-file-o"></i>
                <a href=""><span class="blue">halan</span> thanh toán đơn UAM-0B29293 qua Payoo</a>
                <div class="date">1 ngày trước - ngày thanh toán: 30/03/2020 10h 56 phút</div>
            </li>
            <li>
                <i class="fa fa-check"></i>
                <a href=""><span class="blue">halan</span> thanh toán đơn UAM-0B29293 qua Payoo</a>
                <div class="date">1 ngày trước - ngày thanh toán: 30/03/2020 10h 56 phút</div>
            </li>
            <li>
                <i class="fa fa-check"></i>
                <a href=""><span class="blue">halan</span> thanh toán đơn UAM-0B29293 qua Payoo</a>
                <div class="date">1 ngày trước - ngày thanh toán: 30/03/2020 10h 56 phút</div>
            </li>
            <li>
                <i class="fa fa-check"></i>
                <a href=""><span class="blue">halan</span> thanh toán đơn UAM-0B29293 qua Payoo</a>
                <div class="date">1 ngày trước - ngày thanh toán: 30/03/2020 10h 56 phút</div>
            </li>
            <li>
                <i class="fa fa-check"></i>
                <a href=""><span class="blue">halan</span> thanh toán đơn UAM-0B29293 qua Payoo</a>
                <div class="date">1 ngày trước - ngày thanh toán: 30/03/2020 10h 56 phút</div>
            </li>
            <div class="center">
                <a class="load-more" href="">
                    <i class="fa fa-arrow-circle-o-down"></i>&nbsp;Xem thêm
                </a>
            </div>
        </ul>
        <div class="table-responsive table-default">
            <table class="table table-nowrap line">
                <thead>
                    <tr class="bg-gray">
                        <th>Thao tác</th>
                        <th class="align-right" style="width:150px">Thời gian</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Nhập sai mật khẩu</td>
                        <td class="align-right">30-04-2020 12h30</td>
                    </tr>
                    <tr>
                        <td>Đăng nhập thành công</td>
                        <td class="align-right">30-04-2020 12h30</td>
                    </tr>
                    <tr>
                        <td>
                            Tìm kiếm link sản phẩm:</br>
                            <a class="blue" href="#" title="#">
                                https://www.amazon.com/Funko-Pop-Star-Wars-Mandalorian/dp/B0828JCKS9/ref=zg_bs_toys-and-games_home_1?_encoding=UTF8&psc=1&refRID=Q9GPDHSHZA1ES3DCYNGN
                            </a>
                        </td>
                        <td class="align-right">30-04-2020 12h30</td>
                    </tr>
                    <tr>
                        <td>Nhập sai mật khẩu</td>
                        <td class="align-right">30-04-2020 12h30</td>
                    </tr>
                    <tr>
                        <td>Đăng nhập thành công</td>
                        <td class="align-right">30-04-2020 12h30</td>
                    </tr>
                    <tr>
                        <td>
                            Tìm kiếm link sản phẩm:</br>
                            <a class="blue" href="#" title="#">
                                https://www.amazon.com/Funko-Pop-Star-Wars-Mandalorian/dp/B0828JCKS9/ref=zg_bs_toys-and-games_home_1?_encoding=UTF8&psc=1&refRID=Q9GPDHSHZA1ES3DCYNGN
                            </a>
                        </td>
                        <td class="align-right">30-04-2020 12h30</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>